@import 'tailwindcss';

:root {
  --background: #ffffff;
  /*--foreground: #171717;*/
  --header-h: 65px;
  --container-max: 1400px;
  --app-bg: #f9fafb;
  --page-pb: 120px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

html,
body {
  @apply size-full;
  font-family: var(--font-pretendard);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  @apply cursor-pointer disabled:cursor-default;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-delayed {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float-delayed 3.5s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 4s ease-in-out infinite;
}
